[color]
	ui = true

[user]
	name = Marcin Gornik
	email = marcin.gornik@gmail.com

[alias]
	co = checkout
	ci = commit
	lg = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
	br = branch
	st = status -bsu
	amend = commit --amend --no-edit

[credential]
	helper = osxkeychain

[push]
	default = simple

[core]
        editor = vim
	excludesfile = /Users/mg/.gitignore_global

[merge]
        ff = only

[branch]
	autosetuprebase = always
